body {
  background: var(--bs-primary);
}
.animation-block {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
.footer {
  background: var(--bs-dark);
  color: var(--bs-white);
  text-align: center;
  padding: 0;
  p {
    padding: 20px;
    margin: 0;
  }
}
